body {
  margin: 0;
  padding: 0;
  background-color: #a0c3ff;
  background-image: linear-gradient(135deg, #c5e8ff, #a0c3ff);
  overflow: hidden;
}

#regions {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1200px; /* This results in better portrait scaling that 100% would */
  height: 100%;
}

.inset-paper {
  position: relative; /* Required to avoid z-index issues with #regions */
  float: right;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0px 0px 3px #888888;
  margin-top: 65px;
  margin-right: 65px;
  width: 40%;
  padding: 0px 20px 20px 20px;
}

#regions svg {
  height: 100%;
  width: 100%;
}

.marine-chart {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 400px;
}

.progress-list {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.progress-list button {
  display: inline;
  text-align: center;
  border: none;
  outline: none;
  height: 4em;
  width: 7em;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
}

@media all and (max-width: 1065px) {
  .marine-chart {
    max-height: 300px;
  }
  .inset-paper {
    width: 55%;
    margin-top: 30px;
    margin-right: 30px;
  }
  .progress-list button {
    font-size: 14px;
    margin: 5px;
  }
}

@media all and (max-width: 800px) {
  .progress-list button {
    font-size: 10px;
  }
}

#legend {
  position: absolute;
  bottom: 2em;
  left: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#legend li {
  width: 8em;
  text-align: center;
}

#legend li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#legend li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

div[id*="tmpl-"] {
  display: none;
}

#cape-york, #wet-tropics, #burdekin,
#mackay-whitsunday, #fitzroy, #burnett-mary {
  cursor: pointer;
}

.condition.na                                           { display: none; }
.condition.very-good                                    { background-color: #7aff66; }
.condition.very-good.active, .condition.very-good:hover { background-color: #22ff00; }
.condition.good                                         { background-color: #cfff66; }
.condition.good.active, .condition.good:hover           { background-color: #b0ff00; }
.condition.moderate                                     { background-color: #fff666; }
.condition.moderate.active, .condition.moderate:hover   { background-color: #fff000; }
.condition.poor                                         { background-color: #ffc766; }
.condition.poor.active, .condition.poor:hover           { background-color: #ffa200; }
.condition.very-poor                                    { background-color: #ff6966; }
.condition.very-poor.active, .condition.very-poor:hover { background-color: #ff0400; }