#reef {
  fill: #808080;
  opacity: 0.4;
  stroke: none;
}

#queensland {
  fill: white;
  stroke-width: 0.5;
}

#cape-york {
  fill: #ca6722;
  stroke-width: 0.5;
}

#wet-tropics {
  fill: #82be40;
  stroke-width: 0.5;
}

#burdekin {
  fill: #686a57;
  stroke-width: 0.5;
}

#mackay-whitsunday {
  fill: #dca256;
  stroke-width: 0.5;
}

#fitzroy {
  fill: #833e15;
  stroke-width: 0.5;
}

#burnett-mary {
  fill: #e4ac24;
  stroke-width: 0.5;
}
