#reef {
  fill: #eeeeee;
  stroke: #333333;
}

#cape-york {
  fill: #ca6722;
}

#wet-tropics {
  fill: #82be40;
}

#burdekin {
  fill: #686a57;
}

#mackay-whitsunday {
  fill: #dca256;
}

#fitzroy {
  fill: #833e15;
}

#burnett-mary {
  fill: #e4ac24;
}
